.home-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
    background-color: blue;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-content{
    position: relative;
    background-color: pink;
    color: black;
}

.home-content h2{
    position: relative;
    top: 20%;
    padding: 0 4rem;
    text-align: center;
}

.home-content button{
    position: relative;
    background-color: red;
    left: 40%;
    top: 30%;
    width: 6rem;
    height: 2rem;
    color: white;
}









