.login-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.form-content-login h3{
    position: relative;
    top: 20%;
    text-align: center;
    padding: 0 3rem;
}


.form-content-login .home-btn2 button{
    display: block;
    position: relative;
    width: 15rem;
    height: 1.5rem;
    top: 30%;
    left: 30%;
    background-color: red;
    color: white;

}

.form-content-login{
    background-color: pink;
    display: block;
    position: relative;
}

.login-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}



.form-content-login form{
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 2rem 2rem;
    position: relative;
    left: 30%;
    top: 30%;  
}




.form-content-login form button{
    width: 15rem;
    height: 1.5rem;
}